# Data and output
data/
outputs/
postprocessing/labeling/**/eda_outputs/
postprocessing/labeling/kmeans/k_means_results/
postprocessing/kinematics/diagnostics_output
postprocessing/kinematics/correct_body_axis/diag
postprocessing/kinematics/correct_wing_pitch/diag

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Env setup test
env_setup/test_env

# VS Code
.vscode/
