# Data and output
data/
outputs/
postprocessing/labeling/eda_outputs
postprocessing/kinematics/diagnostics_output

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Env setup test
env_setup/test_env

# VS Code
.vscode/
